<!DOCTYPE html>
<html lang="en">

{{>head}}

    <body>
       {{>nav}}

            <div class="error">
                <h1>ERROR-PAGE</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum animi corrupti eos molestias possimus
                    quas,
                    sed nam similique dolores provident, ad facilis, quia error placeat repellendus ut quasi reiciendis
                    aperiam!
                </p>
            </div>

    </body>

</html>