<!DOCTYPE html>
<html lang="en">

{{>head}}

    <body>
       {{>nav}}

            <div class="about">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad illum error recusandae expedita
                    molestias
                    laboriosam, aliquam, dolorem rerum, tempore in distinctio ipsa quibusdam! Ratione quos incidunt
                    perferendis
                    et a nulla.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos inventore laudantium
                    doloremque consequatur, at necessitatibus rerum maiores, ut odio quae dolor iste doloribus sint
                    harum adipisci incidunt asperiores voluptatem soluta quas quam. Nisi explicabo in modi similique
                    sunt nam.</p>

            </div>

    </body>

</html>