<html lang="en">
	{{>head}}
	<body>
        {{>nav}}
		<div class="container">
			<h2>Login</h2>
			<form action="/login" method="post">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required />
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required />
				<button type="submit">Login</button>

				<a  href="/forgetpassword" style="float:right;color:black; margin-top:10px ;text-decoration:none">forgetpassword   </a>
			</form>
		</div>
	</body>
</html>