<html lang="en">
	{{>head}}
	<body>
        {{>nav}}
		<div class="container">
			<h2>Register</h2>
			<form action="/registar" method="post">
				<label for="firstname">FirstName:</label>
				<input type="text" id="firstname" name="firstname"  />

				<label for="lastname">LastName:</label>
				<input type="text" id="lastname" name="lastname"  />

				<label for="email">Email:</label>
				<input type="email" id="email" name="email"  />

				<label for="password">Password:</label>
				<input type="password" id="password" name="password"  />
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>